<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myandroidlearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ServiceLearning.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".Views.ListView.FruitListViewActivity" />
        <activity android:name=".Views.ListView.SimpleListViewActivity" />
        <activity android:name=".Views.ListView.ListViewButtonsActivity" />
        <activity android:name=".PopUpWindowActivity" />
        <activity android:name=".DIY.DIYActivity" />
        <activity
            android:name=".ActivityLifeCycleTest.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ActivityLifeCycleTest.SingleTaskActivtity"
            android:launchMode="singleTask" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".ProgressDialogActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".ActivityLifeCycleTest.ActivityLifeCycleTestButtons" />
        <activity android:name=".ActivityLifeCycleTest.TestActivity" />
        <activity
            android:name=".ActivityLifeCycleTest.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ActivityLifeCycleTest.StandardStartActivity"
            android:launchMode="standard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>