<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myandroidlearning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StorageLearning.SharePreferencesActivity"></activity>
        <activity android:name=".StorageLearning.DataPersistenceMainActivity" />
        <activity android:name=".StorageLearning.FilePesistenceTestActivity" />

        <receiver
            android:name=".BroadCastLearning.ForceOffline.ForceOfflineReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BroadCastLearning.ForceOffline.LoginActivity"></activity>

        <receiver
            android:name=".BroadCastLearning.MyBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.broadcast.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadCastLearning.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <activity android:name=".BroadCastLearning.BroadCastMainActivity" />

        <service
            android:name=".ServiceLearning.Service_AIDL.MyAIDLService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServiceLearning.Service_AIDL.AIDLServiceMainActivity" />

        <service
            android:name=".ServiceLearning.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServiceLearning.DownLoadTask.DownLoadMainActivity" />

        <service
            android:name=".ServiceLearning.DownLoadTask.DownLoadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ServiceLearning.ServiceMainActivity" />
        <activity android:name=".ServiceLearning.MultiThreading.UpdateUIActivity" />
        <activity android:name=".Fragment.NewsFragment.NewsMainActivity" />
        <activity android:name=".Fragment.NewsFragment.NewsContentActivity" />
        <activity android:name=".Fragment.QualifiesFragmentActivity" />
        <activity android:name=".Views.RecyclerView.ChatBox.ChatBoxActivity" />
        <activity android:name=".Views.RecyclerView.RecyclerGridViewActivity" />
        <activity android:name=".Views.RecyclerView.RecyclerWaterFallViewActivity" />
        <activity android:name=".Views.RecyclerView.RecyclerHorizentalViewActivity" />
        <activity android:name=".Views.RecyclerView.RecyclerVerticalViewActivity" />
        <activity android:name=".Views.RecyclerView.RecylerViewButtonsActivity" />
        <activity android:name=".Fragment.twoPartFragmentActivity" />
        <activity android:name=".Fragment.ContainerActivity" />

        <service
            android:name=".ServiceLearning.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Views.ListView.Fruit.FruitListViewActivity" />
        <activity android:name=".Views.ListView.SimpleListViewActivity" />
        <activity android:name=".Views.ListView.ListViewButtonsActivity" />
        <activity android:name=".PopUpWindowActivity" />
        <activity android:name=".DIY.DIYActivity" />
        <activity
            android:name=".ActivityLifeCycleTest.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ActivityLifeCycleTest.SingleTaskActivtity"
            android:launchMode="singleTask" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".ProgressDialogActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".ActivityLifeCycleTest.ActivityLifeCycleTestButtons" />
        <activity android:name=".ActivityLifeCycleTest.TestActivity" />
        <activity
            android:name=".ActivityLifeCycleTest.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ActivityLifeCycleTest.StandardStartActivity"
            android:launchMode="standard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StorageLearning.StorageLoginActivity" />
    </application>

</manifest>